body {
    background-color: black;
    text-align: center;
}

h2 {
    color: black;
    display: inline-block;
    background-color: white;
    width: 10%;
}

h1 {
    text-align: center;
    color: white;
}